// f your `env.js` is still on GitHub, but you put it in `.gitignore`:

// https://stackoverflow.com/questions/1274057/how-to-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore

env.js
node_modules